.container-header {
  align-items: center;
  background-color: $base-color-second;
  border-bottom: 10px solid $black-color-first;
  display: flex;
  height: 80px;
  justify-content: space-between;
  h1 {
    color: $base-color-third;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-family: $font-family-second;
    text-shadow: $shadow-first;
  }
  nav {
    padding: 0.5rem 1rem;
    button {
      display: none;
    }
    ul {
      display: flex;
      list-style: none;
      gap: 0.5rem;
      justify-content: space-around;
      align-items: center;
      z-index: 1;
      li {
        .animated {
          &:hover {
            background: $base-color-first url("/images/pixel.svg");
            box-shadow: $shadow-first;
            background-size: 100%;
            transition-delay: 0.5s;
            animation: animate1 0.7s steps(16) forwards;
            @keyframes animate1 {
              0% {
                background-position-y: 0;
              }
              100% {
                background-position-y: -480px;
              }
            }
          }
        }
        a {
          color: $base-color-third;
          font-family: $font-family-first;
          font-size: 1.2rem;
          font-weight: 500;
          padding: 10px 1rem;
          white-space: nowrap;
          border: 0;
          text-decoration: none;
        }
        .button {
          background: $base-color-first;
          box-shadow: $shadow-first;
        }
      }
    }
  }
}
