.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $base-color-second;
  border-bottom: 10px solid $black-color-first;
  h2 {
    text-align: center;
    font-size: 1.2rem;
    font-family: $font-family-second;
    padding: 3rem;
    color: #fff;
  }
  div {
    width: 80vw;
    h3 {
      font-size: 1.2rem;
      font-family: $font-family-first;
      padding-bottom: 3rem;
      color: #fff;
    }
  }
}