.container-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $base-color-first;
  border-bottom: 10px solid $base-color-second;
  h2 {
    font-size: 1.2rem;
    font-family: $font-family-second;
    padding: 3rem;
    color: #fff;
  }
  .skills {
    height: 600px;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    div {
      width: 400px;
      display: flex;
      align-items: flex-start;
      gap: 20px;
      img {
        height: 90px;
        width: 80px;
      }
      div {
        h3 {
          font-family: $font-family-second;
          font-size: 1.2rem;
          color: #fff;
        }
        progress {
          box-sizing: border-box;
          border: 5px solid black;
          border-radius: 0;
          width: 100%;
          height: 40px;
          &::-webkit-progress-bar {
            background-color: white;
          }
          &::-webkit-progress-value {
            background-color: $base-color-second;
          }
        }
        display: flex;
        flex-direction: column;
      }
    }
  }
}
