* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  overflow-x: hidden;
}

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.container-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7c5e99;
  border-bottom: 10px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-header h1 {
  color: white;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-family: "Press Start 2P";
  text-shadow: -5px 5px 0px black;
}

.container-header nav {
  padding: 0.5rem 1rem;
}

.container-header nav button {
  display: none;
}

.container-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 0.5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}

.container-header nav ul li .animated:hover {
  background: #f25a70 url("/images/pixel.svg");
  -webkit-box-shadow: -5px 5px 0px black;
          box-shadow: -5px 5px 0px black;
  background-size: 100%;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-animation: animate1 0.7s steps(16) forwards;
          animation: animate1 0.7s steps(16) forwards;
}

@-webkit-keyframes animate1 {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}

@keyframes animate1 {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: -480px;
  }
}

.container-header nav ul li a {
  color: white;
  font-family: "Fira Code";
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 1rem;
  white-space: nowrap;
  border: 0;
  text-decoration: none;
}

.container-header nav ul li .button {
  background: #f25a70;
  -webkit-box-shadow: -5px 5px 0px black;
          box-shadow: -5px 5px 0px black;
}

@media (max-width: 1180px) {
  .container-header {
    width: 100%;
    z-index: 1;
  }
  .container-header nav button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  .container-header nav button span {
    border-top: 2px solid;
    width: 20px;
    color: white;
  }
  .container-header nav button span::after, .container-header nav button span::before {
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    background: currentColor;
    margin-top: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
  }
  .container-header nav.toggle ul {
    width: 300px;
  }
  .container-header nav.toggle span {
    border-top-color: transparent;
  }
  .container-header nav.toggle span::after {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    top: -7px;
  }
  .container-header nav.toggle span::before {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .container-header nav ul {
    overflow: hidden;
    display: block;
    right: 0px;
    width: 0px;
    top: 69px;
    position: absolute;
    background: #7c5e99;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: -5px 5px 0px black;
            box-shadow: -5px 5px 0px black;
  }
  .container-header nav ul li a {
    font-family: "Fira Code";
    -webkit-box-shadow: -5px 5px 0px black;
            box-shadow: -5px 5px 0px black;
    background: #f25a70;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
    padding: 1rem;
    margin: 1rem 0 1rem 1rem;
  }
}

@media (max-width: 655px) {
  .container-header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-image: url(/images/img2.svg);
    background-repeat: no-repeat;
    background-size: 90px 110%;
  }
  .container-header > h1 {
    display: none;
  }
}

.container-card {
  height: 480px;
  background-image: url(../images/img2.svg);
  background-size: 800px 120%;
  background-color: #989795;
  background-position: 50vw;
  background-repeat: no-repeat;
  border-bottom: 10px solid black;
}

.container-card div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 655px;
}

.container-card div div:first-child {
  background: #3a4042;
  display: inline-block;
  -webkit-box-shadow: -10px 10px 0px black;
          box-shadow: -10px 10px 0px black;
  text-align: center;
  padding: 50px 30px;
  margin-left: 12vw;
  margin-top: 80px;
}

.container-card div div:first-child .h2-card-mobile {
  display: none;
}

.container-card div div:first-child h2 {
  color: #f25a70;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  font-family: "Press Start 2P";
  text-shadow: -5px 5px 0px black;
}

.container-card div div:first-child h3 {
  color: white;
  font-size: 1.2rem;
  text-shadow: -5px 5px 0px black;
}

.container-card div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 12vw;
  margin-top: 30px;
}

.container-card div div a {
  text-align: center;
  width: 200px;
  color: white;
  font-family: "Fira Code";
  background: #f25a70;
  -webkit-box-shadow: -5px 5px 0px black;
          box-shadow: -5px 5px 0px black;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 1rem;
  border: 0;
  text-decoration: none;
}

@media (max-width: 1180px) {
  .container-card {
    height: 680px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-position: center -40px;
    background-size: 24rem;
  }
  .container-card div div:first-child {
    margin-top: 0px;
    width: 100vw;
    margin-left: 0;
  }
  .container-card div div {
    margin-top: 0px;
    margin-left: 0;
    width: 100vw;
  }
  .container-card div div a {
    width: 50vw;
    font-size: 1.2rem;
    padding: 1rem;
  }
}

@media (max-width: 655px) {
  .container-card {
    height: auto;
    background-image: none;
  }
  .container-card div div:first-child {
    height: 200px;
    width: 100vw;
    font-size: 1rem;
    padding: 0;
    margin-left: 0;
  }
  .container-card div div:first-child h2:first-child {
    display: none;
  }
  .container-card div div:first-child .h2-card-mobile {
    display: block;
    padding: 30px 10px;
    margin: 10px;
    text-align: center;
  }
  .container-card div div:first-child h3 {
    margin: 10px;
  }
  .container-card div div {
    margin: 0;
    width: 100vw;
    position: relative;
  }
  .container-card div div a {
    width: 50vw;
    font-size: 1.2rem;
    padding: 1rem;
  }
}

.container-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f25a70;
  border-bottom: 10px solid #7c5e99;
}

.container-skills h2 {
  font-size: 1.2rem;
  font-family: "Press Start 2P";
  padding: 3rem;
  color: #fff;
}

.container-skills .skills {
  height: 600px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.container-skills .skills div {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}

.container-skills .skills div img {
  height: 90px;
  width: 80px;
}

.container-skills .skills div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-skills .skills div div h3 {
  font-family: "Press Start 2P";
  font-size: 1.2rem;
  color: #fff;
}

.container-skills .skills div div progress {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid black;
  border-radius: 0;
  width: 100%;
  height: 40px;
}

.container-skills .skills div div progress::-webkit-progress-bar {
  background-color: white;
}

.container-skills .skills div div progress::-webkit-progress-value {
  background-color: #7c5e99;
}

@media (max-width: 1080px) {
  .container-skills .skills {
    width: 100%;
  }
  .container-skills .skills div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 200px;
    gap: 10px;
  }
  .container-skills .skills div img {
    height: 60px;
    width: 50px;
  }
  .container-skills .skills div div h3 {
    font-size: 1rem;
  }
  .container-skills .skills div div progress {
    display: none;
  }
}

.conteiner-slide {
  background: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 540px;
  border-bottom: 10px solid #f25a70;
}

.conteiner-slide h2 {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Press Start 2P";
  padding: 3rem;
  color: #fff;
}

.conteiner-slide .mySwiper2 {
  display: none;
}

.conteiner-slide .mySwiper1 {
  background: black;
  padding: 0.5rem .5rem;
  width: 80%;
  border-bottom: 10px solid black;
}

.conteiner-slide .mySwiper1 .swiper-wrapper .swiper-slide img {
  height: 300px;
  width: 300px;
  -webkit-box-shadow: -10px 10px 0px white;
          box-shadow: -10px 10px 0px white;
}

.conteiner-slide .mySwiper1 .swiper-pagination .swiper-pagination-bullet {
  background-color: #7c5e99;
  border-radius: 0;
  height: 20px;
  width: 20px;
}

@media (max-width: 1080px) {
  .conteiner-slide .mySwiper1 {
    display: none;
  }
  .conteiner-slide .mySwiper2 {
    display: block;
    padding: 0.5rem .5rem;
    width: 350px;
    border-bottom: 10px solid black;
  }
  .conteiner-slide .mySwiper2 .swiper-wrapper .swiper-slide img {
    height: 300px;
    width: 300px;
    -webkit-box-shadow: -10px 10px 0px white;
            box-shadow: -10px 10px 0px white;
  }
  .conteiner-slide .mySwiper2 .swiper-pagination .swiper-pagination-bullet {
    background-color: #7c5e99;
    border-radius: 0;
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 1080px) {
  .conteiner-slide .mySwiper1 {
    display: none;
  }
  .conteiner-slide .mySwiper2 {
    display: block;
    padding: 0.5rem .5rem;
    width: 350px;
    border-bottom: 10px solid black;
  }
  .conteiner-slide .mySwiper2 .swiper-wrapper .swiper-slide img {
    height: 300px;
    width: 300px;
    -webkit-box-shadow: -10px 10px 0px white;
            box-shadow: -10px 10px 0px white;
  }
  .conteiner-slide .mySwiper2 .swiper-pagination .swiper-pagination-bullet {
    background-color: #7c5e99;
    border-radius: 0;
    height: 20px;
    width: 20px;
  }
}

.container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #7c5e99;
  border-bottom: 10px solid black;
}

.container-about h2 {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Press Start 2P";
  padding: 3rem;
  color: #fff;
}

.container-about div {
  width: 80vw;
}

.container-about div h3 {
  font-size: 1.2rem;
  font-family: "Fira Code";
  padding-bottom: 3rem;
  color: #fff;
}

.container-contacts {
  background: #3a4042;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container-contacts h2 {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Press Start 2P";
  padding: 3rem;
  color: #fff;
}

.container-contacts form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.container-contacts form label {
  font-family: "Fira Code";
  color: white;
  font-size: 1.2rem;
}

.container-contacts form input {
  padding-left: 10px;
  font-size: 1.2rem;
  border: 5px solid black;
  width: 80vw;
  height: 50px;
  margin-bottom: 20px;
}

.container-contacts form input:last-child {
  border: 0;
  padding-left: 0;
  font-family: "Fira Code";
  color: white;
  font-size: 1.2rem;
  background: #f25a70;
  -webkit-box-shadow: -5px 5px 0px black;
          box-shadow: -5px 5px 0px black;
}

.container-contacts form textarea {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 1.2rem;
  border: 5px solid black;
  width: 80vw;
  height: 20vw;
  resize: none;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */