/* sass --watch scss/style.scss:css/style.css */
$base-color-first: rgba(242, 90, 112, 1);
$base-color-second: rgba(124, 94, 153, 1);
$base-color-third: rgba(255, 255, 255, 1);

$black-color-first: rgba(0, 0, 0, 1);
$black-color-second: rgba(58, 64, 66, 1);
$black-color-third: rgba(130, 130, 130, 1);

$font-family-first: 'Fira Code';
$font-family-second: 'Press Start 2P';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 62.5%;
}

.header {
  height: 11vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $base-color-second;
  border-bottom: 1vh solid $black-color-first;
  h1 {
    color: $base-color-third;
    padding: .5rem 1rem;
    font-weight: 500;
    font-family: $font-family-second;
    text-shadow: 5px 5px 0px $black-color-first;
  }
  .header_navbar_menu {
    display: block;
    list-style: none;
    position: absolute;
    top: 10vh;
    gap: .5rem;
    background: $base-color-second;
    left: 100vw;
    width: 60vw;
    transition: all .5s ease;
    box-shadow: 5px 5px 0px $black-color-first;
    z-index: 1;
    a {
      color: $base-color-third;
      font-family: $font-family-first;
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: none;
      padding: 10px;
      display: block;
      padding: 1rem;
      margin: 1rem .5rem;
      background: $base-color-first;
      box-shadow: 5px 5px 0px $black-color-first;
    }
  }
  .header_navbar {
    &.toggle {
      .header_navbar_menu {
        left: 40vw;
      }
    }
    &.toggle {
      .header_btn_hamburger {
        border-top-color: transparent;
      }
    }
    &.toggle {
      .header_btn_hamburger {
        &::after {
          transform: rotate(135deg);
          top: -7px
        }
      }
    }
    &.toggle {
      .header_btn_hamburger {
        &::before {
          transform: rotate(-135deg);
        }
      }
    }
  }
  .header_btn {
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
  }
  .header_btn_hamburger {
    border-top: 2px solid;
    width: 20px;
    color: $base-color-third;
  }
  .header_btn_hamburger {
    &::after, &::before {
      content: '';
      display: block;
      height: 2px;
      width: 20px;
      background: currentColor;
      margin-top: 5px;
      transition: all .5s ease;
      position: relative;
    }
  }
}

@media (min-width: 500px) {
  body {
    background: red;
  }

  .header {
    .header_navbar_menu {
      width: 40vw;
    }
    .header_navbar {
      &.toggle {
        .header_navbar_menu {
          left: 60vw;
        }
      }
    }
  }
}

@media (min-width: 1000px) {
  body {
    background: rgb(60, 255, 0);
  }
  .header {
    overflow: hidden;
    .header_navbar {
      padding: .5rem 1rem;
      .header_btn {
        position: absolute;
        left: 100vw;
      }
    }
    .header_navbar_menu {
      display: flex;
      position: inherit;
      top: 0;
      width: inherit;
      box-shadow: initial;
      z-index: 1;
      li:nth-child(1) {
        background: $base-color-first;
        box-shadow: 5px 5px 0px $black-color-first;
        order: 1;
      }
      a {
        color: $base-color-third;
        font-family: $font-family-first;
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        padding: .5rem 1.2rem;
        margin: inherit;
        background-color: initial;
        box-shadow: initial;
        white-space: nowrap;
      }
      .menu_animated:hover {
        background: $base-color-first url('/images/pixel.svg');
        background-size: 100%;
        box-shadow: 5px 5px 0px $black-color-first;



        transition-delay: .5s;
        animation: animate1 .7s steps(8) forwards;
      }
      @keyframes animate1 {
        0%{
          background-position-y: 0;
        } 
        100%{
          background-position-y: -480px;
        }
      }
    }
    .header_btn_hamburger {
      border-top: initial;
      width: initial;
      display: none;
      color: $base-color-third;
    }
  }
}
